/* === darkmode.css === */

body.dark-mode,
html.dark-mode {
  background-color: var(--clr-background-darkmode);
  color: var(--clr-text-primary-darkmode);
}

.dark-mode a {
  color: var(--clr-text-primary-darkmode);
}

.dark-mode .menu-toggle-button,
.dark-mode .info {
  color: var(--clr-text-primary-darkmode);
}

.dark-mode-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode .nav-link {
  opacity: 0.7;
}

.dark-mode .navigation-menu.is-visible .nav-link {
  transition: opacity 1s ease;
}

.dark-mode svg {
  color: var(--clr-text-primary-darkmode);
}

.dark-mode-toggle-btn svg {
  width: 15px;
  height: 15px;
  transition: opacity 1s ease, transform 1s ease;
  position: absolute;
}

/* Show sun icon in light mode, hide moon */
.dark-mode-toggle-btn .icon-sun {
  opacity: 0;
  transform: rotate(0deg);
}
.dark-mode .dark-mode-toggle-btn .icon-sun {
  opacity: 1;
  transform: rotate(180deg);
}

/* Show moon icon in dark mode, hide sun */
.dark-mode-toggle-btn .icon-moon {
  width: 11px;
  height: 11px;
  opacity: 1;
  transform: rotate(0);
}
.dark-mode .dark-mode-toggle-btn .icon-moon {
  opacity: 0;
  transform: rotate(180deg);
}
