/* === icons.css === */

.icon {
    width: 16px; 
    height: 16px; 
    display: block; 
    stroke-width: 0;
    pointer-events: none;
    stroke: none !important;
}

.controls-button {
    color: var(--clr-text-overlay, white); 
    line-height: 0; 
}
/*
.menu-toggle-button {
    color: var(--clr-text-primary, black);
    line-height: 0;
}
  
.button-icon-wrapper {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    background-color: transparent;
}*/

.button-icon-wrapper.is-hidden {
    display: none;
}

.intro-arrow-icon {
  width: 40px;
  height: 40px;
  color: var(--clr-text-primary); /* This will set the 'fill' or 'stroke' color */
  margin-bottom: 2rem;
}
