/* Universal reset for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and html reset */
html, body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Root variables for styling */
:root {
  --background-color: #FBF5E9;

  /* Primary Font Settings */
  --primary-font-color: #231F20;
  --primary-font-color-overlap: var(--background-color);
  --primary-font-family: "neue-haas-unica", helvetica, sans-serif;
  --primary-font-size: 1.3em;
  --primary-font-weight: 700;
  --secondary-font-size: 1em;
  --secondary-font-weight: 400;

  /* Video Settings */
  --video-border-radius: .1em;
}


/* TITLE */
.title-container {
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.title, .title-button {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
  margin-bottom: 1em;
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Start below */
}

.title-button {
  background-color: transparent;
  display: inline;
  border: none;
  padding: 0;
}

/* MENU */
.menu-container {
  /*position: relative;
  bottom: 10vh; 
  left: 50%;
  transform: translateX(-50%);*/
  text-align: center;
  width: 100%;
}

.menu, .menu-button {
  font-family: var(--primary-font-family);
  font-size: var(--secondary-font-size);
  font-weight: var(--secondary-font-weight);
  margin-bottom: 1em;
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Start below */
}

.menu-button {
  background-color: transparent;
  display: inline;
  border: none;
  padding: 0;
}

.intro-title.overlapped,
.memu.overlapped {
  color: var(--primary-font-color-overlap);
  opacity: 65%;
}

/* VIDEO PORTFOLIO */
.video-track {
  display: flex; /* Arrange video containers in a row */
  flex-direction: row; 
  align-items: flex-start; /* Align videos to the top */
  gap: 2em; /* Space between videos */
  overflow-x: auto; /* Enables horizontal scrolling if needed */
  padding: 20px; /* Add some spacing */
}

/* Video container */
.video-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.video-item iframe {
  width: 100%;
  height: 100%;
  border-radius: var(--video-border-radius); /* Rounded corners */
}

/* Video Controls */
.video-controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  padding: .5em;
  bottom: 0em;
  z-index: 10; /* Ensure controls appear on top of the video */
  mix-blend-mode: difference;
  opacity: 90%;
}

/* Control Buttons */
.controls-button {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.0); /* Semi-transparent background */
  color: white;
  mix-blend-mode: difference;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

/* Volume Slider */
.controls-volume {
  width: 100px; /* Set width for volume slider */
  height: 5px; /* Adjust slider thickness */
  background: rgba(0, 0, 0, 0.3); /* Slightly transparent background */
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.controls-button:hover {
  color: white
}


/* Sound On/Off Button */
.sound-button {
  color: white;
}

.sound-button.active {
  background-color: rgba(0, 0, 0, 0.8); /* Darker when active */
}