/*
@font-face {
  font-family: 'PPMori';
  src: url(assets/fonts/PPMori-SemiBold.ttf) format('trueType');
  font-weight: 400;
}

@font-face {
  font-family: 'PPMori';
  src: url(assets/fonts/PPMori-Bold.ttf) format('trueType');
  font-weight: bold;
}*/